<div class="metric" [ngClass]="isValueUp ? 'metric--up': 'metric--down'">
	<div class="metric__body p-2 text-center">
		<p class="metric__kpi mb-1">
			{{ mainValue }}
		</p>
		<p class="text-white mb-0 p--large">
			{{ subText }}
		</p>
	</div>
	<div class="metric__footer d-flex align-items-center m-2">
		<div class="text-center py-1 px-2 metric__footer--left">
			<p class="mb-0 d-flex align-items-center justify-content-center">
				<app-icon [filePath]="getArrowIconPath()" />
				<span class="metric__trend-number">
					{{ changeValue }}
				</span>
			</p>
			<p class="p--xs mb-0">since last {{ changeWindow }}</p>
		</div>
		<div class="py-1 px-2 metric__footer--right">
			<ngx-charts-line-chart
				[legend]="false"
				[animations]="false"
				[showXAxisLabel]="false"
				[showYAxisLabel]="false"
				[xAxis]="false"
				[yAxis]="false"
				[xAxisLabel]="xAxisLabel"
				[yAxisLabel]="yAxisLabel"
				[timeline]="false"
				[autoScale]="true"
				[tooltipDisabled]="true"
				[view]="view"
				[curve]="curve"
				[scheme]="colorScheme"
				[results]="miniChartData"
			/>
		</div>
	</div>
</div>