<div class="card">
    <div class="card-header">Report Generation Criteria</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <!-- Overflow Locations -->
                <p><strong>Overflow Locations</strong></p>
                <p class="help-block">Please select <em>all</em> locations that are Emergency Department (ED) or any overflow location where confirmed or suspected covid patients are awaiting an inpatient bed.</p>
                <div class="input-group">
                    <input type="text" class="form-control disabled" readonly="readonly" [ngModel]="overflowLocationsDisplay" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-primary" (click)="selectOverflowLocations()">Select ED/Overflow Locations</button>
                    </div>
                </div>
                <p *ngIf="overflowLocations.length === 0"><em>No locations have been specified. Queries related to overflow will not be executed.</em></p>
            </div>
            <div class="col-md-4">
                <p><strong>Report Date</strong></p>
                <p class="help-block">For which patient impact and hospital capacity counts are reported.</p>
                <div class="input-group">
                    <input class="form-control" placeholder="{{today | date: 'yyyy-MM-dd'}}"
                           name="dp" [(ngModel)]="report.date" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="onDateSelected()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="reload()" [disabled]="loading">Generate Report</button>
        <p class="help-block" *ngIf="loading">Generating report...</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Facility ID</label>
            <input type="text" class="form-control" [(ngModel)]="report.answers['facilityId']" [class.is-invalid]="!report.answers.hasOwnProperty('facilityId')" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Summary Census ID</label>
            <input type="text" class="form-control" [(ngModel)]="report.answers['summaryCensusId']" [class.is-invalid]="!report.answers.hasOwnProperty('summaryCensusId')" />
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <span>Section 1</span>
        <p class="card-subtitle">Patient Impact Data Elements</p>
    </div>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numc19confnewadm']" [class.is-invalid]="!report.answers.hasOwnProperty('numc19confnewadm')" /></td>
            <td><strong>PREVIOUS DAY’S ADMISSIONS WITH CONFIRMED COVID-19:</strong> New patients admitted to an inpatient bed who had confirmed COVID-19 at the time of admission</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numc19suspnewadm']" [class.is-invalid]="!report.answers.hasOwnProperty('numc19suspnewadm')" /></td>
            <td><strong>PREVIOUS DAY’S ADMISSIONS WITH SUSPECTED COVID-19:</strong> New patients admitted to an inpatient bed who had suspected COVID-19 at the time of admission</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numc19honewpats']" [class.is-invalid]="!report.answers.hasOwnProperty('numc19honewpats')" /></td>
            <td><strong>PREVIOUS DAY’S NEW HOSPITAL ONSET:</strong> Current inpatients hospitalized for a condition other than COVID-19 with onset of suspected or confirmed COVID-19 on the previous dayand the previous day is fourteen or more dayssince admission</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numConfC19HONewPats']" [class.is-invalid]="!report.answers.hasOwnProperty('numConfC19HONewPats')" /></td>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['previousDayCovidAdmitted']" [class.is-invalid]="!report.answers.hasOwnProperty('previousDayCovidAdmitted')" /></td>
            <td><strong>PREVIOUS DAY’S ADMISSIONS WITH CONFIRMED COVID-19:</strong> New patients admitted to an inpatient bed who had confirmed COVID-19 at the time of admission</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['previousDaySuspectedCovidAdmitted']" [class.is-invalid]="!report.answers.hasOwnProperty('previousDaySuspectedCovidAdmitted')" /></td>
            <td><strong>PREVIOUS DAY’S ADMISSIONS WITH SUSPECTED COVID-19:</strong> New patients admitted to an inpatient bed who had suspected COVID-19 at the time of admission</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['previousDayHospitalOnset']" [class.is-invalid]="!report.answers.hasOwnProperty('previousDayHospitalOnset')" /></td>
            <td><strong>PREVIOUS DAY’S NEW HOSPITAL ONSET:</strong> Current inpatients hospitalized for a condition other than COVID-19 with onset of suspected or confirmed COVID-19 on the previous dayand the previous day is fourteen or more dayssince admission</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control"  /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of Previous Day’s New Hospital Onset with Confirmed COVID-19 (subset)</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numC19HospPats']" [class.is-invalid]="!report.answers.hasOwnProperty('numC19HospPats')" /></td>
            <td><strong>HOSPITALIZED:</strong> Patients currently hospitalized in an inpatient bed who have suspected or confirmed COVID-19</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numConfC19HospPats']" [class.is-invalid]="!report.answers.hasOwnProperty('numConfC19HospPats')" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of Hospitalized with Confirmed COVID-19 (subset)</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numC19MechVentPats']" [class.is-invalid]="!report.answers.hasOwnProperty('numC19MechVentPats')" /></td>
            <td><strong>HOSPITALIZED and VENTILATED:</strong> Patients currently hospitalized in an inpatient bed who have suspected or confirmed COVID-19 and are on a mechanical ventilator</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numConfC19MechVentPats']" [class.is-invalid]="!report.answers.hasOwnProperty('numConfC19MechVentPats')" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of Hospitalized and Ventilated with Confirmed COVID-19 (subset)</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numC19HOPats']" [class.is-invalid]="!report.answers.hasOwnProperty('numC19HOPats')" /></td>
            <td><strong>HOSPITAL ONSET:</strong> Patients currently hospitalized in an inpatient bed with onset of suspected or confirmed COVID-19 fourteen or more days after hospital admission due to a condition other than COVID-19</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numConfC19HOPats']" [class.is-invalid]="!report.answers.hasOwnProperty('numConfC19HOPats')" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of Hospital Onset with Confirmed COVID-19 (subset)</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numC19OverflowPats']" [class.is-invalid]="!report.answers.hasOwnProperty('numC19OverflowPats')" /></td>
            <td><strong>ED/OVERFLOW:</strong> Patients with suspected or confirmed COVID-19 who currently are in the Emergency Department (ED) or any overflow location awaiting an inpatient bed</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numConfC19OverflowPats']" [class.is-invalid]="!report.answers.hasOwnProperty('numConfC19OverflowPats')" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of ED/Overflow with Confirmed COVID-19 (subset)</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numC19OFMechVentPats']" [class.is-invalid]="!report.answers.hasOwnProperty('numC19OFMechVentPats')" /></td>
            <td><strong>ED/OVERFLOW and VENTILATED:</strong> Patients with suspected or confirmed COVID-19 who currently are in the ED or any overflow location awaiting an inpatient bed and on a mechanical ventilator</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numConfC19OFMechVentPats']" [class.is-invalid]="!report.answers.hasOwnProperty('numConfC19OFMechVentPats')" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of ED/Overflow and Ventilated with Confirmed COVID-19 (subset)</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numc19prevdied']" [class.is-invalid]="!report.answers.hasOwnProperty('numc19prevdied')" /></td>
            <td><strong>PREVIOUS DAY’S DEATHS:</strong> Patients with suspected or confirmed COVID-19 who died in the hospital, ED, or any overflow location on the previous calendar day</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numConfC19PrevDied']" [class.is-invalid]="!report.answers.hasOwnProperty('numConfC19PrevDied')" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of Previous Day’s Deaths with Confirmed COVID-19 (subset)</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="card">
    <div class="card-header">
        <span>Section 2</span>
        <p class="card-subtitle">Hospital Bed/ Intensive Care Unit (ICU)/ Ventilator Capacity Data Elements</p>
    </div>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numTotBeds']" [class.is-invalid]="!report.answers.hasOwnProperty('numTotBeds')" /></td>
            <td><strong>ALL HOSPITAL BEDS:</strong> Total number of all staffed inpatient and outpatient beds in your hospital,including all overflow and surge/expansion beds used for inpatients and for outpatients (includes all ICU beds)</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numBeds']" [class.is-invalid]="!report.answers.hasOwnProperty('numBeds')" /></td>
            <td><strong>*HOSPITAL INPATIENT BEDS:</strong> Total number of staffed inpatient beds in your hospital including all overflow and surge/ expansion beds used for inpatients (includes all ICU beds)</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numBedsOcc']" [class.is-invalid]="!report.answers.hasOwnProperty('numBedsOcc')" /></td>
            <td><strong>HOSPITAL INPATIENT BED OCCUPANCY:</strong> Total number of staffed inpatient beds that are occupied</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numICUBeds']" [class.is-invalid]="!report.answers.hasOwnProperty('numICUBeds')" /></td>
            <td><strong>ICU BEDS:</strong> Total number of staffed inpatient ICU beds</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numNICUBeds']" [class.is-invalid]="!report.answers.hasOwnProperty('numNICUBeds')" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of ICU Beds that are Neonatal Beds (subset)</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numICUBedsOcc']" [class.is-invalid]="!report.answers.hasOwnProperty('numICUBedsOcc')" /></td>
            <td><strong>ICU BED OCCUPANCY:</strong> Total number of staffed inpatient ICU beds that are occupied</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numNICUBedsOcc']" [class.is-invalid]="!report.answers.hasOwnProperty('numNICUBedsOcc')" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of Occupied ICU Beds that are Neonatal Beds (subset)</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numVent']" [class.is-invalid]="!report.answers.hasOwnProperty('numVent')" /></td>
            <td><strong>MECHANICAL VENTILATORS:</strong> Total number of ventilators available</td>
        </tr>
        <tr>
            <td><input type="number" class="form-control" [(ngModel)]="report.answers['numVentUse']" [class.is-invalid]="!report.answers.hasOwnProperty('numVentUse')" /></td>
            <td><strong>MECHANICAL VENTILATORS IN USE:</strong> Total number of ventilators in use</td>
        </tr>
        </tbody>
    </table>
</div>

<button type="button" class="btn btn-primary" (click)="download()">Export to File</button>