<div class="card">
    <div class="card-header">Report Generation Criteria</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <p><strong>Report Date</strong></p>
                <!--p class="help-block">For which patient impact and hospital capacity counts are reported.</p-->
                <div class="input-group">
                    <input [(ngModel)]="criteria.periodStart"  placeholder="{{startDate | date: 'yyyy-MM-dd'}}"
                            class="form-control" name="dp" ngbDatepicker #d="ngbDatepicker"  (ngModelChange)="onStartDateSelected()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                    <input  [(ngModel)]="criteria.periodEnd" placeholder="{{endDate | date: 'yyyy-MM-dd'}}"
                          class="form-control" name="dp1" ngbDatepicker #d1="ngbDatepicker" (ngModelChange)="onEndDateSelected()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar"  (click)="d1.toggle()"  type="button"></button>
                    </div>
                </div>
            </div>
            <div ngbDropdown class="col-md-4">
                <p><strong>Report Type</strong></p>
                <button class="btn btn-outline-primary" id="measureEvalDropDown" ngbDropdownToggle>{{selectedReportTypeDisplay}}</button>
                <div ngbDropdownMenu aria-labelledby="measureEvalDropDown">
                    <div *ngFor="let config of measureConfigs">
                        <button (click)="criteria.reportDef = config" class="dropdown-item"
                                id="measureOption">{{config.name}}
                        </button>
                    </div>
                    <div *ngIf="loadingMeasures">
                        <button class="dropdown-item">Loading...</button>
                    </div>
                    <div *ngIf="!measureConfigs?.length && !loadingMeasures">
                        <button class="dropdown-item">No Reports</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="reload()" [disabled]="disableGenerateReport()">{{generateReportButtonText}}</button>
        <p class="help-block" *ngIf="loading">Generating report...</p>
        <p *ngIf="!criteria.periodStart || !criteria.periodEnd || !criteria.reportDef" class="help-block">You must
            select a report date and type before generating- ariana...</p>
    </div>
</div>
