<!-- TODO: Move nav bar into into a reusable component -->
<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li role="presentation" ngbNavItem>
        <a ngbNavLink routerLinkActive [class.active]="rla.isActive" #rla="routerLinkActive"
           routerLink="/generate">Generate</a>
    </li>
    <li role="presentation" ngbNavItem>
        <a ngbNavLink routerLinkActive [class.active]="rla1.isActive" #rla1="routerLinkActive"
           routerLink="/review">Review</a>
    </li>
</ul>
<div class="card">
    <div class="card-header">Report Generation Criteria</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-1">
                <p><strong>
                    All historical
                </strong>
                </p>
                <div class="input-group">
                    <input
                        #checkbox
                        (change)="onDefaultTimeSelect()"
                        class="form-check-input"
                        id="DefaultTime"
                        ngbCheckbox
                        type="checkbox"
                        value=""/>
                </div>
            </div>
            <div class="col-md-2">
                <p><strong>Report Start Date</strong></p>
                <!--p class="help-block">For which patient impact and hospital capacity counts are reported.</p-->
                <div class="input-group">
                    <input [(ngModel)]="criteria.periodStart" (ngModelChange)="onStartDateSelected()"
                           [disabled]="checkbox.checked"
                           class="form-control" name="dp" ngbDatepicker #d="ngbDatepicker"
                           placeholder="{{startDate | date: 'yyyy-MM-dd'}}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <p><strong>Report End Date</strong></p>
                <div class="input-group">
                    <input   [(ngModel)]="criteria.periodEnd" (ngModelChange)="onEndDateSelected()"
                             class="form-control" name="dp" ngbDatepicker #d1="ngbDatepicker"
                             placeholder="{{endDate | date: 'yyyy-MM-dd'}}">
                    <div class="input-group-append">
                        <button (click)="d1.toggle()" class="btn btn-outline-secondary calendar" type="button"></button>
                    </div>
                </div>
            </div>
            <div ngbDropdown class="col-md-4">
                <p><strong>Report Type</strong></p>
                <button class="btn btn-outline-primary" id="measureEvalDropDown" ngbDropdownToggle>{{selectedReportTypeDisplay}}</button>
                <div ngbDropdownMenu aria-labelledby="measureEvalDropDown">
                    <div *ngFor="let config of measureConfigs">
                        <button (click)="criteria.reportDef = config" class="dropdown-item"
                                id="measureOption">{{config.name}}
                        </button>
                    </div>
                    <div *ngIf="loadingMeasures">
                        <button class="dropdown-item">Loading...</button>
                    </div>
                    <div *ngIf="!measureConfigs?.length && !loadingMeasures">
                        <button class="dropdown-item">No Reports</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="reload()" [disabled]="disableGenerateReport()">{{generateReportButtonText}}</button>
        <p class="help-block" *ngIf="loading">Generating report...</p>
        <p *ngIf="!criteria.periodStart || !criteria.periodEnd || !criteria.reportDef" class="help-block">You must
            select a report date and type before generating...</p>
    </div>
</div>
