<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Link Configurer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- See view-source:https://getbootstrap.com/docs/5.2/examples/navbar-fixed/ for examples -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" [class.active]="router.url === '/'" aria-current="page" href="javascript:void(0)" routerLink="/">Home</a>
        </li>
        <li *ngIf="envService.apiConfig" [class.active]="router.url === '/apiConfig'" class="nav-item">
          <span class="nav-link" aria-current="page">
            <a href="javascript:void(0)" routerLink="/apiConfig">API</a>&nbsp;<a (click)="remove('api')"
                                                                                 href="javascript:void(0)">[X]</a>
          </span>
        </li>
        <li *ngIf="envService.webConfig" [class.active]="router.url === '/webConfig'" class="nav-item">
          <span class="nav-link" aria-current="page">
            <a href="javascript:void(0)" routerLink="/webConfig">WEB</a>&nbsp;<a (click)="remove('web')"
                                                                                 href="javascript:void(0)">[X]</a>
          </span>
        </li>
        <li *ngIf="envService.consumerConfig" [class.active]="router.url === '/consumerConfig'" class="nav-item">
          <span class="nav-link" aria-current="page">
            <a href="javascript:void(0)" routerLink="/consumerConfig">Consumer</a>&nbsp;<a (click)="remove('consumer')"
                                                                                           href="javascript:void(0)">[X]</a>
          </span>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="addConfigMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Add Config</button>
            <ul class="dropdown-menu" aria-labelledby="addConfigMenuButton">
              <li><a class="dropdown-item" href="javascript:void(0)" *ngIf="!envService.apiConfig" (click)="envService.addConfig('api')">API</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" *ngIf="!envService.webConfig" (click)="envService.addConfig('web')">Web</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" *ngIf="!envService.consumerConfig" (click)="envService.addConfig('consumer')">Consumer</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container">
  <div class="bg-light p-5 rounded">
    <p *ngIf="!envService.apiConfig">No application file</p>
    <router-outlet *ngIf="envService.apiConfig"></router-outlet>
  </div>
</main>

<app-toasts></app-toasts>
