<app-hero
  color="shade"
>
  <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-lg-between pt-4">
    <div>
      <h1 class="h2 text-white text-uppercase fw-bold">{{ userData.name }}</h1>
      <h4 class="text-uppercase text-white mb-0">User ID: <strong>{{ userData.id }}</strong></h4>
    </div>
    <app-button
      variant="outline--reverse"
      type="link"
      [link]="{url: '/profile/'}"
    >
      <app-icon filePath="../../../assets/icons/cancel.svg" />
      Cancel
    </app-button>
  </div>
</app-hero>

<app-section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-6">

        <app-card
          title="Update Password"
          [hasPadding]="true"
        >
          <form 
            [formGroup]="updatePasswordForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="form__field">
              <label for="currentPassword">Current Password<span class="text-warning">*</span></label>
              <input 
                type="password" 
                id="currentPassword" 
                formControlName="currentPassword"
              />
            </div>
            <div class="form__field">
              <label for="newPassword">New Password<span class="text-warning">*</span></label>
              <input 
                type="password" 
                id="newPassword" 
                formControlName="newPassword"
              />
            </div>
            <div class="form__field">
              <label for="confirmPassword">Confirm New Password<span class="text-warning">*</span></label>
              <input 
                type="password" 
                id="confirmPassword" 
                formControlName="confirmPassword"
              />
              <p *ngIf="updatePasswordForm.errors?.['matchError'] && (updatePasswordForm.get('newPassword')?.touched || updatePasswordForm.get('confirmPassword')?.touched)" class="p--xs mt-2 text-warning">
                {{ updatePasswordForm.errors?.['matchError']}}
              </p>
            </div>
    
            <app-button
              type="submit"
              classes="mr-4"
              [disabled]="!updatePasswordForm.valid"
            >
              <app-icon filePath="../../../assets/icons/save.svg" />
              Update Password
            </app-button>
    
            <app-button
              variant="outline"
              type="link"
              [link]="{url: '/profile/'}"
            >
              <app-icon filePath="../../../assets/icons/cancel.svg" />
              Cancel
            </app-button>
          </form>
        </app-card>
      </div>
    </div>
  </div>
</app-section>