<div class="toast-container position-absolute top-0 end-0 p-3">
  <div 
    *ngFor="let toast of toasts; let i = index"
    class="toast show" 
    role="alert" 
    aria-live="assertive" 
    aria-atomic="true"
  >
    <div class="toast-header">
      <div 
        class="dot"
        [ngClass]="'dot--'+toast.status"
      ></div>
      <h6 class="me-auto mb-0">{{ toast.title }}</h6>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" (click)="closeToast(i)"></button>
    </div>
    <div class="toast-body">
      {{ toast.copy }}
    </div>
  </div>
</div>