<div class="container">
    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

    <div class="jumbotron">
        <div class="top-bar">
            <div class="main-logo">
                <img [src]="configService.config.logoPath?configService.config.logoPath:'assets/nhsn_logo.png'"
                     class="main-logo"/>
                <span *ngIf="!configService.config.logoPath">
                    <span *ngIf="authService.user" [ngbPopover]="accessTokenPopover">Link</span>
                    <span *ngIf="!authService.user">NHSNLink</span>
                </span>
                <span *ngIf="configService.config.logoPath">
                    <span *ngIf="authService.user" [ngbPopover]="accessTokenPopover"></span>
                    <span *ngIf="!authService.user"></span>
                </span>
            </div>

            <div class="auth-info">
                <div *ngIf="authService.user">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-primary" id="userDropDown" ngbDropdownToggle>
                            <span>{{authService.user.name}}</span>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="userDropDown">
                            <a href="http://www.lantanagroup.com/our-software-products/nandina/" target="_new" ngbDropdownItem>
                                <i class="fa fa-info-circle"></i> About NHSNLink
                            </a>
                            <a href="https://github.com/lantanagroup/link" target="_new" ngbDropdownItem>
                                <i class="fa fa-github"></i> GitHub
                            </a>
                            <a [href]="configService.config.getHelpUrl" *ngIf="configService.config?.getHelpUrl" target="_blank" ngbDropdownItem>
                                <i class="fa fa-question-circle"></i> Get Help
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void()" *ngIf="apiInfo && (apiInfo.build || apiInfo.version)" ngbDropdownItem>
                                <i class="fa fa-wrench"></i>&nbsp;<span title="version" *ngIf="apiInfo.version">{{apiInfo.version}}</span><span *ngIf="apiInfo?.build && apiInfo?.version">&nbsp;|&nbsp;</span><span title="build" *ngIf="apiInfo.build">{{apiInfo.build}}</span>
                            </a>
                            <button ngbDropdownItem (click)="authService.logout()">
                                <i class="fa fa-sign-out"></i> Logout
                            </button>
                        </div>
                    </div>
                </div>
                <p *ngIf="!authService.user">
                    <button type="button" class="btn btn-primary" (click)="authService.loginLocal()">Login</button>
                </p>
            </div>
        </div>

<!--        <ul ngbNav #nav="ngbNav" *ngIf="authService.user" class="nav-tabs">-->
<!--            <li role="presentation" ngbNavItem>-->
<!--                <a ngbNavLink routerLinkActive [class.active]="rla.isActive" #rla="routerLinkActive"-->
<!--                   routerLink="generate">Generate</a>-->
<!--            </li>-->
<!--            <li role="presentation" ngbNavItem>-->
<!--                <a ngbNavLink routerLinkActive [class.active]="rla1.isActive" #rla1="routerLinkActive"-->
<!--                   routerLink="review">Review</a>-->
<!--            </li>-->
<!--        </ul>-->

        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #accessTokenPopover>
    <div *ngIf="authService.oauthService.getAccessToken()">
        <p title="{{authService.oauthService.getAccessToken()}}">{{authService.oauthService.getAccessToken().substring(0, 50)}}
            ...</p>
        <p>[<a href="javascript:void(0)" (click)="copyAccessTokenToClipboard()">copy</a>]</p>
    </div>
    <div *ngIf="!authService.oauthService.getAccessToken()">
        You do not have an access token!
    </div>
</ng-template>
