.container {
  max-width: 100%;
}

.card-header span {
  font-weight: bold;
  font-size: 16px;
}

.card-header p.card-subtitle {
  font-size: 12px;
  margin-top: 5px;
}

.card {
  margin-bottom: 10px;
}

.help-block {
  color: gray;
}

.top-bar {
  display: block;
  height: 85px;
}

.main-logo {
  float: left;
  font-family: "Century Gothic", "Segoe UI", "Helvetica Neue", Arial;
  font-size: 3.5rem;
  font-weight: bold;
}

.main-logo span {
  color: #2C68B0;
}

.main-logo img {
  width: 150px;
  margin-top: 8px;
  margin-right: 5px;
}

.auth-info {
  float: right;
}

.copyright-info {
  display: block;
}

.copyright-info .lcg-logo {
  float: right;
  width: 150px;
  margin-right: -25px;
  margin-top: 25px;
}

.nav-link.active{
  background-color: #55a2f5;
  color: #ffffff;
  border: solid #005cbf;
  border-width: 1px 3px 3px 1px;
}

.nav-link{
  background-color: #ffffff;
  color: #000000;
  padding: 1px 60px 1px 60px;
  margin: 40px 0 30px 0;
  border: solid #005cbf;
  border-width: 1px 1px 3px 1px;
}

