web/node_modules/
web/target/
core/target/
.idea/
*.iml
/web/src/main/resources/application-*.properties
.DS_Store
web/src/main/resources/public/
web/src/main/resources/config-local.json
web/src/main/angular/assets/local.json
api/target/
web/dist/
api/src/main/resources/config-*.json
query/target/
cli/target/
