docs/
web/node_modules/
web/src/main/angular/assets/local.json
web/src/main/angular/assets/local-*.json
web/dist/

target/
*.iml
.DS_Store
*.class

api/src/main/resources/api-*.yml
query/src/main/resources/query-*.yml

.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/libraries/
spring-shell.log
