web/node_modules/
web/src/main/angular/assets/local.json
web/src/main/angular/assets/local-*.json
web/dist/

target/
.idea/
*.iml
.DS_Store
*.class

api/src/main/resources/api-*.yml
query/src/main/resources/query-*.yml