<div class="accordion shadow-sm">
	<button [attr.data-bs-target]="'#collapse-' + formatTitle(title)"
		[attr.aria-expanded]="isExpanded ? 'true' : 'false'"
		[attr.aria-controls]="'collapse-' + formatTitle(title)"
		class="accordion__header accordion__toggle shadow-sm"
		type="button"
		data-bs-toggle="collapse">
		<h4>{{ title }}</h4>
		<app-icon filePath="../../../assets/icons/arrowDown.svg" />
	</button>
	<div 
		[id]="'collapse-' + formatTitle(title)"
		[attr.aria-labelledby]="'heading-' + formatTitle(title)"
		[class.show]="isExpanded"
		class="accordion-collapse collapse"
	>
		<div class="accordion__body">
			<!-- Placeholder for dynamic content -->
			<ng-content></ng-content>
		</div>
	</div>
</div>
