<div class="modal-header">
  <h4 class="modal-title">Select Locations</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" [ngModel]="searchText" (ngModelChange)="updateSearchText($event)" placeholder="Search by name" />
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" [ngModel]="identifierText" (ngModelChange)="updateIdentifierText($event)" placeholder="Search by identifier" />
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        <input type="checkbox" [(ngModel)]="isSelectAll" (change)="selectAll($event)"/>
      </th>
      <th>Name</th>
      <th>Identifier</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let location of locations">
      <td>
        <input type="checkbox" [ngModel]="isSelected(location.id)" (ngModelChange)="selectionChanged(location.id, $event)" />
      </td>
      <td><span title="{{location.id}}">{{location.display}}</span></td>
      <td>{{location.identifier || 'No identifier specified'}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <span class="float-left">{{this.selected.length}} locations have been selected. <a href="javascript:void(0)" (click)="unselectAll()">Unselect all</a>.</span>
  <button type="button" class="btn btn-primary" (click)="ok()">OK</button>
</div>
