/* base/_typography.scss */

@import 
  '../../../node_modules/bootstrap/scss/functions',
  '../../../node_modules/bootstrap/scss/variables',
  '../../../node_modules/bootstrap/scss/mixins',
  '../../../node_modules/bootstrap/scss/utilities';

body {
  @include body-font();
  color: $black;
}

// setting up mixins to use throughout the site
// links

a {
  color: $blue-500;
  transition: $transition-base;

  &:hover {
    color: $blue-700;

    app-icon,
    svg,
    icon {
      path {
        stroke: $blue-700;
      }
    }
  }
}

.skip-link {
	position: absolute;
	top: -50px;
}

// paragraphs

.p {
  &--xs {
    @include body-font-xs();
  }

  &--small {
    @include body-font-sm();
  }

  &--large {
    @include body-font-lg();
  }
}

// headings

h1, .h1 {
  @include heading-01();

  &--small {
    font-size: 2.5em !important;
    letter-spacing: 0.05em;
  }
}
h2, .h2 {
  @include heading-02();
}
h3, .h3 {
  @include subheading-01();
}
h4, .h4 {
  @include subheading-02();
}
h5, .h5 {
  @include subheading-03();
}
h6, .h6 {
  @include subheading-04();
}

.h--display {
  color: $blue-200;
  font-family: $font-family-heading;
  font-size: 6.25em;
  font-weight: $font-weight-bolder; // todo - look at this
  letter-spacing: 0;
  line-height: 1em;
  text-transform: uppercase;
}

.h--subheading {
  font-family: $font-family-sans-serif;
  font-size: 2.25em;
  font-weight: $font-weight-medium;
  letter-spacing: 0;
  line-height: 1em;
  text-transform: uppercase;

  &--small {
    font-size: 0.75em;
    line-height: 1.8em;
  }
}