/* base/_typography.scss */

@import 
  '../../../node_modules/bootstrap/scss/functions',
  '../../../node_modules/bootstrap/scss/variables',
  '../../../node_modules/bootstrap/scss/mixins',
  '../../../node_modules/bootstrap/scss/utilities';

// links

a {
  transition: $transition-base;
}

.skip-link {
	position: absolute;
	top: -50px;
}

// headings

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: $blue-700;
  font-family: $font-family-heading;
  font-weight: $font-weight-medium;
  text-transform: none;
}

h1, .h1 {
  color: $white;
  letter-spacing: 0.06em;
  line-height: 1.5em;
  &--small {
    font-size: 2.5em !important;
    letter-spacing: 0.05em;
    line-height: 1.4em;
  }
}
h2, .h2 {
  color: $white;
  letter-spacing: 0.225em;
  text-transform: uppercase;
}
h3, .h3 {
  line-height: 1em;
  letter-spacing: 0.04em;
}
h4, .h4 {
  line-height: 1.5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
h5, .h5 {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
  letter-spacing: 0.025em;
}
h6, .h6 {
  font-family: $font-family-sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.h--display {
  color: $blue-200;
  font-family: $font-family-heading;
  font-size: 6.25em;
  font-weight: $font-weight-bolder; // todo - look at this
  letter-spacing: 0;
  line-height: 1em;
  text-transform: uppercase;
}

.h--subheading {
  font-family: $font-family-sans-serif;
  font-size: 2.25em;
  font-weight: $font-weight-medium;
  letter-spacing: 0;
  line-height: 1em;
  text-transform: uppercase;

  &--small {
    font-size: 0.75em;
    line-height: 1.8em;
  }
}