<section class="login-bg">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6">
        <div class="inner-container border p-5 bg-white text-center">
          <div class="login__logo">
            <img src="../../../assets/nhsn-logo-color.svg" alt="NHSNLink Logo" />
          </div>
          <h1 class="mt-2 text-primary h2">Sign In to NHSNLink</h1>
          <div class="d-flex justify-content-center mt-5">
            <app-button
            variant="solid"
            type="link"
            [link]="{url: signIn()}"
            >
              <app-icon filePath="../../../assets/icons/sign-in.svg" />
              Sign In
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
