/* navbar.component.scss */

@import '../../../scss/customize-bootstrap.scss';

.navbar {
  &--primary {
    margin-right: -1.125rem; // accounts for padding on nav links
  }
}

.nav {
  
  &__item {
    margin: 0 0.625rem;
  }

  &__link {
    @include nav();
    background: transparent;
    color: $white;
    display: block;
    padding: 0.25rem 0.5rem;
  
    &:hover,
    &:focus-visible,
    &.active {
      background: $blue-100;
      color: $gray-800;
    }
  }

  &--secondary {
    &__item {
      align-items: center;
      display: flex;
      margin: 0;

      &::after {
        @include nav-secondary();
        content: '|';
        color: $black;
        display: inline-block;
        margin: 0 0.5rem;
      }

      &:last-child::after {
        display: none;
      }
    }

    &__link {
      @include nav-secondary();
      color: $blue;
      padding: 0;

      &:hover,
      &:focus-visible,
      &.active {
        background: none;
        color: $black;
      }
    }
  }
}