<div class="card">
    <div class="card-header">Filter/Criteria</div>
    <div class="flex-container">
        <div>
            <label>Report Type</label>
            <div ngbDropdown>
                <button class="btn btn-outline-primary" id="measures" ngbDropdownToggle>{{filter.measure}}</button>
                <div aria-labelledby="measures" ngbDropdownMenu>
                    <div *ngFor="let measure of measures">
                        <button class="dropdown-item"
                                id="measureOption" on-click="selectMeasure(measure.name)">{{measure.name}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <label>Reporting Period (Start Date - End Date) </label>
            <ngbd-datepicker-range-popup #reportingdate (change)="selectPeriod($event)"></ngbd-datepicker-range-popup>
        </div>
        <div>
            <label>Status</label>
            <div ngbDropdown>
                <button class="btn btn-outline-primary" id="status" ngbDropdownToggle>{{filter.status}}</button>
                <div aria-labelledby="status" ngbDropdownMenu>
                    <div *ngFor="let status of statuses">
                        <button class="dropdown-item" on-click="selectStatus(status.name)">{{status.name}} </button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <label>Submitted Date</label>
            <ngbd-datepicker-popup #submitteddate (change)="selectSubmittedDate($event)"></ngbd-datepicker-popup>
        </div>
        <div>
            <label>Submitter</label>
            <div ngbDropdown>
                <button class="btn btn-outline-primary" id="submitter"
                        ngbDropdownToggle>{{filter.submitter}}</button>
                <div aria-labelledby="submitter" ngbDropdownMenu>
                    <div *ngFor="let submitter of submitters">
                        <button class="dropdown-item"
                                on-click="selectSubmitter(submitter.name)">{{submitter.name}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 1.5vw;">
            <div>
                <button class="btn btn-primary" on-click="resetFilters(reportingdate, submitteddate);">Reset Filters
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="alert alert-info">Loading...</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Measure</th>
        <th>Reporting Period</th>
        <th>Status</th>
        <th>Submitted Date</th>
        <th>Submitter</th>
        <th>Notes</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let report of reports">
        <td>
            {{getMeasureName(report.measureIdentifier)}}
        </td>
        <td style="min-width: 16rem">
            {{report.periodStartDate | date:'MMM d, y' :"UTC"}}
        </td>
        <td>
            {{getStatusName(report.docStatus)}}
        </td>
        <td style="min-width: 16rem">
            <span [ngbTooltip]="report.submittedDate | date: 'MMM d, y, h:mm:ss a': 'UTC'">{{report.submittedDate | date:'MMM d, y' :"UTC"}}</span>
        </td>
        <td>
            {{getSubmitterName(report.author)}}
        </td>
        <td>
            <span class="message">{{getNote(report.note)}}</span><i *ngIf="report.note?.length>50"
                                                                    [ngbTooltip]="report.note"
                                                                    class="fa fa-sticky-note"></i>
        </td>
        <td class="button">
            <button class="btn btn-primary" on-click="displayReport(report.id)">{{getLabel(report.docStatus)}}</button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="7" *ngIf="totalSize === 0">
            <div class="alert alert-info">No reports to review.</div>
        </td>
    </tr>
    <tr>
        <td colspan="7">
            <ngb-pagination class="d-flex justify-content-center"
                            [maxSize]="5"
                            (pageChange)="onPageChange($event)"
                            [(page)]="page"
                            [pageSize]="pageSize"
                            [boundaryLinks]="true"
                            [collectionSize]="totalSize">
            </ngb-pagination>
        </td>
    </tr>
    </tfoot>
</table>



