.btn.btn-outline-primary {
    width: 100%;
}

span.message {
    text-decoration: none;
    padding-right: 15px
}

button#measures {
    overflow: auto;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 1.5vw;
    height: auto;
    background-color: white;
}

.nav-link.active{
    background-color: #55a2f5;
    color: #ffffff;
    border: solid #005cbf;
    border-width: 1px 3px 3px 1px;
}

.nav-link{
    background-color: #ffffff;
    color: #000000;
    padding: 1px 60px 1px 60px;
    margin: 40px 0 0 0;
    border: solid #005cbf;
    border-width: 1px 1px 3px 1px;
}
