.btn.btn-outline-primary {
    width: 100%;
}

span.message {
    text-decoration: none;
    padding-right: 15px
}

button#measures {
    overflow: auto;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 1.5vw;
    height: auto;
    background-color: white;
}
