.input-group-text {
    width: 150px;
}

.input-group {
    margin-bottom: 6px;
}

div.report,
div.alert {
    margin-top: 5px;
}

.form-control {
    background-color: #e9ecef;
}

.report-fields .help-block:before {
    content: ' ';
    display: block;
}
