.input-group-text {
    width: 150px;
}

.row {
    margin-top: 20px;
    margin-left: 20px;
}

.card {
    border: 1px solid #dadada;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    display: flex;
    flex-direction: column;
}


.input-group {
    margin-bottom: 6px;
}

div.report,
div.alert {
    margin-top: 10px;
}

.form-control {
    background-color: #e9ecef;
}

.report-fields .help-block:before {
    content: ' ';
    display: block;
}

.nav-link.active{
    background-color: #55a2f5;
    color: #ffffff;
    border: solid #005cbf;
    border-width: 1px 3px 3px 1px;
}

.nav-link {
    background-color: #ffffff;
    color: #000000;
    padding: 1px 60px 1px 60px;
    margin: 40px 0 0 0;
    border: solid #005cbf;
    border-width: 1px 1px 3px 1px;
}

.report-buttons {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    margin-right: 10px;
}

.document{
    margin-top: 50px;
    margin-bottom: 50px;
}

.labelForPeriod{
    padding: 10px;
}

