<app-hero pageTitle="Activities"
	size="md">

	<div class="row">
		<div class="col col-md-6 col-lg-3" *ngFor="let card of metricCards">
			<app-card 
				[title]="card.name"
				variant="alt"
				titleAlign="center"
				[hasBorder]=true
			>
				<app-metric 
					[subText]="card.subText"
					[isUpGood]="card.upGood"
					[changeWindow]="card.changeWindow"
					[toTimestamp]="card.toTimestamp"
					[metricData]="card.metricData"
				/>
			</app-card>
		</div>
	</div>
</app-hero>

<app-section>
	  <div class="container">
			<app-table 
				[dtOptions]="dtOptions"
				tableTitle="Facility Activity"
				[hasSearch]="dtSearchBar"
			/>
	</div>
</app-section>
