table tr td:first-child {
    width: 150px;
}

.card {
    margin-bottom: 25px;
}

.card-header > span {
    font-weight: bold;
    font-size: 20px;
}

.sub-question {
    margin-left: 50px;
}

.btn-group.report-actions {
    margin-top: 10px;
}

.btn-primary {
    margin-right: 5px;
}