.card {
  margin-bottom: 10px;
}

.removeBtn {
  margin: 10px;
  height: 50px;
}

.addBtn {
  margin: 10px;
  height: 50px;
}

.input-group > *,
.input-group > .input {
  border-radius: 2px !important;
  margin-bottom: 5px;
}

