api:
  fhir-server-store:
  auth-jwks-url:
  downloader: com.lantanagroup.link.api.download.MeasureReportDownloader
  sender: com.lantanagroup.link.api.download.MeasureReportSender
  send-url:
  cors:
    allowed-origins: '*'
    allowed-headers: '*'
    allowed-credentials: true
    allowed-methods:
      - GET
      - POST
      - PUT
      - OPTIONS
  terminology:
    covid-codes-value-set: classpath:2.16.840.1.113762.1.4.1146.1124.xml
    ventilator-codes-value-set: classpath:mechanical-ventilators.xml
    intubation-procedure-codes-value-set: classpath:intubation-procedures.xml