@import '../../../scss/customize-bootstrap.scss',
        '../../../../node_modules/bootstrap/scss/bootstrap.scss';

.resource-section-container {
  padding: 24px 24px 0;

  h6 {
    color: $gray-500;
  }

  &:last-child {
    padding-bottom: 50px;
  }
}

.resource-link {
  text-decoration: none;
  color: $blue-300;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;

  .link-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}
