.btn {
    margin-left: 10px;
    float:right;
  }
  
  .input-group {
    margin-bottom: 2px;
  }
  
  
  .card {
    border: 1px solid #dadada;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  
  .card-body {
    flex: 1 1 auto;
    padding: 5px;
  }
  