<app-hero
  color="shade"
>
  <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-lg-between">
    <div>
      <h1 class="h1--small text-white text-uppercase">First Last</h1>
      <h4 class="text-uppercase text-white">User ID: ############</h4>
    </div>
    <app-button
      variant="outline--reverse"
    >
      <app-icon filePath="../../../assets/icons/view.svg" />
      Edit Profile
    </app-button>
  </div>
</app-hero>

<section>
  <div class="container py-4">
    <p>Profile coming soon...</p>
  </div>
</section>