<app-hero
  color="shade"
>
  <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-lg-between pt-4">
    <div>
      <h1 class="h2 text-white text-uppercase fw-bold">{{ userData.name }}</h1>
      <h4 class="text-uppercase text-white mb-0">User ID: <strong>{{ userData.id }}</strong></h4>
    </div>
    <app-button
      variant="outline--reverse"
      type="link"
      [link]="{url: 'https://oauth.nhsnlink.org/auth/realms/NHSNLink/account'}"
    >
      <app-icon filePath="../../../assets/icons/view.svg" />
      Edit Profile
    </app-button>
  </div>
</app-hero>

<app-section>
  <div class="container">
    <app-card
      title="User Profile"
      [hasPadding]="true"
    >
      <div class="row">
        <div class="col col-sm-6 col-md-4">
          <app-mini-content title="Name" *ngIf="userData.name">
            <p>{{ userData.name }}</p>
          </app-mini-content>

          <app-mini-content title="Organization" *ngIf="userData.organization">
            <p>{{ userData.organization }}</p>
          </app-mini-content>

          <app-mini-content title="Role" *ngIf="userData.role">
            <p>{{ userData.role }}</p>
          </app-mini-content>

          <app-mini-content title="Department" *ngIf="userData.department">
            <p>{{ userData.department }}</p>
          </app-mini-content>
        </div>
        
        <div class="col col-sm-6 col-md-4">
          <app-mini-content title="Email" *ngIf="userData.email">
            <p>{{ userData.email }}</p>
          </app-mini-content>

          <app-mini-content title="Phone Number" *ngIf="userData.phone">
            <p>{{ userData.phone }}</p>
          </app-mini-content>
        </div>
        
        <div class="col col-sm-6 col-md-4">
          <app-mini-content title="Password">
            <p>*****************</p>
          </app-mini-content>

          <app-button
            type="link"
            [link]="{url: 'https://oauth.nhsnlink.org/auth/realms/NHSNLink/account/#/security/signingin'}"
          >
            <app-icon filePath="../../../assets/icons/edit.svg" />
            Update Password
          </app-button>
        </div>
      </div>
    </app-card>
  </div>
</app-section>