/* You can add global styles to this file, and also import other style files */

html {
  margin-top: 10px;
}

agm-map {
  width: 100%;
  height: 500px;
}

ngb-toast {
  min-width: 150px;
}

h1 {
  font-family: "Century Gothic", "Segoe UI", "Helvetica Neue", Arial;
  font-size: 3.5rem !important;
  font-weight: bold !important;
}

.jumbotron {
  padding-top: 16px !important;
}

.popover {
  max-width:500px;
}