<form class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <input #d="ngbDatepicker" (change)="onDateEntered()" (dateSelect)="onDateSelection($event)"
                   [(ngModel)]="model" class="form-control" name="dp" name="date-picker-text" ngbDatepicker
                   placeholder="YYYY-MM-DD">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"
                        name="date-picker-btn"></button>
            </div>
        </div>
    </div>
</form>

