<app-hero
  pageTitle="Dashboard"
  size="lg"
>
  <app-section-heading
    [level]=2
    class="mb-4"
    headingClasses="h3 text-white"
    heading="System Performance"
  >
    <app-button
      variant="outline--reverse"
      type="link"
      [link]="{url: '/system-performance'}"
    >
      <app-icon filePath="../../../assets/icons/plus.svg" />
      View All
    </app-button>
  </app-section-heading>

  <div class="row">
		<div class="col col-md-6 col-lg-4" *ngFor="let card of metricCards">
			<app-card 
				[title]="card.name"
				variant="alt"
				titleAlign="center"
				[hasBorder]=true
			>
				<app-metric 
					[subText]="card.subText"
					[changeWindow]="card.changeWindow"
					[isUpGood]="card.upGood"
					[toTimestamp]="card.toTimestamp"
					[metricData]="card.metricData"
				/>
			</app-card>
		</div>
	</div>
</app-hero>

<app-section>
	<div class="container dashboard-tables">

		<app-section-heading
			heading="Recent Activity"
			[level]=3
		>
			<app-button
				variant="outline"
				type="link"
				[link]="{url: '/activities'}"
			>
				<app-icon filePath="../../../assets/icons/plus.svg" />
				View All
			</app-button>
		</app-section-heading>

		<div class="row">
			<div class="col col-md-6" [ngClass]="'col-lg-' + columnSpan" *ngIf="completedDtOptions">
				<app-card
					title="Successful Submissions"
					status="success"
					titleAlign="center"
				>
					<app-table 
						[dtOptions]="completedDtOptions" 
						variant="simple"
					/>
				</app-card>
			</div>

			<div class="col col-md-6" [ngClass]="'col-lg-' + columnSpan" *ngIf="failedDtOptions">
				<app-card
					title="Failed Submissions"
					status="failure"
					titleAlign="center"
				>
					<app-table 
						[dtOptions]="failedDtOptions" 
						variant="simple"
					/>
				</app-card>
			</div>

			<div class="col col-md-6" [ngClass]="'col-lg-' + columnSpan" *ngIf="pendingDtOptions">
				<app-card
					title="Submissions In Progress"
					status="inProgress"
					titleAlign="center"
				>
					<app-table 
						[dtOptions]="pendingDtOptions" 
						variant="simple"
					/>
				</app-card>
			</div>

		</div>
	</div>
</app-section>
