/* footer.component.scss */

@import '../../../scss/customize-bootstrap.scss';

.footer {
  background-color: $gray-800;
  color: $blue-100;
  padding: 1.5rem 0;

  &__logo {
    display: block;
    margin-left: auto;
    max-width: 11rem;
    width: 100%;
  
    img {
      height: auto;
      width: 100%;
    }
  }
}
