/* footer.component.scss */

@import '../../../scss/customize-bootstrap.scss';

.footer {
  background-color: $gray-800;
  color: $blue-100;
  padding: 1.5rem 0;

  &__logo {
    img {
      height: auto;
      width: 100%;
      max-width: 11rem;
    }
  }
}
