<form 
  [formGroup]="facilitiesForm"
  (ngSubmit)="onSubmit()"
>
  <app-section-heading
  [level]="3"
  heading="Add New Facility"
  >
    <app-button
      type="submit"
      classes="mr-4"
      [disabled]="!facilitiesForm.valid"
    >
      <app-icon filePath="../../../assets/icons/save.svg" />
      Save Facility
    </app-button>

    <app-button
      variant="outline"
      type="link"
      [link]="{url: '/facilities'}"
    >
      <app-icon filePath="../../../assets/icons/cancel.svg" />
      Cancel
    </app-button>
  </app-section-heading>

  <app-accordion
    title="Profile"
    [isExpanded]="true"
  >
    <div class="row" formGroupName="profile">
      <div class="col col-md-6">
        <label for="name">Facility Name<span class="text-warning">*</span></label>
        <input 
          type="text" 
          id="name" 
          formControlName="name"
          placeholder="Facility Name"
        />
      </div>

      <div class="col col-md-6">
        <label for="tenantId">Tenant ID<sup class="text-warning">*</sup></label>
        <input 
          type="text" 
          id="tenantId" 
          formControlName="tenantId"
        />
      </div>

    </div>
  </app-accordion>

  <app-accordion
    title="Normalizations"
    [isExpanded]="false"
  >
    <div class="row" formGroupName="normalizations">
      <div class="col col-md-3">
        <label for="codeSystemCleanup">Code System Cleanup</label>
        <input 
          type="radio" 
          id="codeSystemCleanup" 
          formControlName="codeSystemCleanup"
          [value]="false"
        />
        <input 
          type="radio" 
          id="codeSystemCleanup" 
          formControlName="codeSystemCleanup"
          [value]="true"
        />
      </div>

    </div>
  </app-accordion>
</form>