<app-hero
  color="purple"
  pageTitle="Facilities"
  [cta]="heroButton"
/>

<app-section>
  <div class="container">
    <app-table
      *ngIf="tableOptionsLoaded"
      [dtOptions]="dtOptions"
      tableTitle="Active Facilities"
      [filters]="dtFilters"
      [hasSearch]="dtSearchBar"
    />
  </div>
</app-section>

<ng-template #heroButton>
  <app-button
    variant="outline--reverse"
    type="link"
    [link]="{url: '/facilities/add-facility'}"
  >
    <app-icon filePath="../../../assets/icons/plus.svg" />
    Add New Facility
  </app-button>
</ng-template>
