/* icon.component.scss */

@import '../../../scss/customize-bootstrap.scss';

.icon,
svg {
  display: block;
  height: calc(#{$spacer} * 1.5);
  width: calc(#{$spacer} * 1.5);

  path {
    transition: $transition-base;

    .btn &,
    .btn--outline-reverse & {
      stroke: $blue-50;
    }

    .btn--reverse &,
    .btn--outline &,
    .btn--text & {
      stroke: $blue;
    }

    .btn:hover &,
    .btn:active & {
      stroke: $blue-50;
    }

    .btn--text:hover &,
    .btn--text:active & {
      stroke: $blue-700;
    }
  }
}