@import '../../../scss/customize-bootstrap.scss',
        '../../../scss/abstracts';

// hide default search bar
.dataTables_filter {
  display: none !important;
}

// pagination
.dataTables_wrapper {
  .pagination {
    margin: 1rem 1.5rem !important;
    justify-content: center;

    .paginate_button {
      a {
        background: transparent;
        border: none;
        border-radius: 0.125rem;
        color: $blue-700;
        font-size: 0.75rem;
        line-height: 1.5rem;
        padding: 0 0.125rem;
        text-align: center;
        min-width: 1.5rem;

        &:hover {
          background: $blue-100;
        }
      }
      &.active {
        a {
          background: $blue;
          color: $blue-50;
        }
      }

      &.previous,
      &.next {
        a {
          margin: 0 0.5rem;
          font-size: 1px;
          position: relative;
          text-indent: -10000px;

          &:focus,
          &:focus-within {
            box-shadow: none;
          }

          &::after {
            background: url('../../../assets/icons/chevron-down.svg') no-repeat center center;
            background-size: 100% auto;
            content: '';
            display: block;
            height: 1.5rem;
            left: 0;
            position: absolute;
            top: 0;
            width: 1.5rem;
          }
        }

        &.disabled {
          a::after {
            opacity: 0.2;
          }
        }
      }

      &.previous a::after {
        transform: rotate(90deg);
      }
      &.next a {
        transform: rotate(-90deg);
      }
    }
  }
}

// custom table styles
.table__container {
  background: $white;
  overflow: hidden;
}

div.dataTables_scrollBody > table.dataTable > thead > tr > * {
  &::before,
  &::after {
    display: none !important;
  }
}

table.dataTable {
  background: $white;
  border-collapse: collapse !important;
  margin: 0 !important;
  min-height: 4rem; // for ajax loading
  min-width: 100% !important;

  // specific tables {
    &.dataTables_scrollHead {
      min-height: 0;
    }

  // Rows

  tr {
    border-bottom: 1px solid $gray-400;

    &.zebra {
      border-color: $blue-50;
      &--odd {
        background: $gray-100;
      }
    }

  }

  // Cells

  td,
  .cell {
    @include body-font-sm();
    color: $gray-800;
    padding: 0.5rem 0.75rem;

    &:first-child {
      padding-left: 1.5rem;
    }

    &:last-child {
      padding-right: 1.5rem;
    }

    &--lg {
      @include body-font-lg();
    }

    &--initiated {
      font-style: italic;
    }

    &--inProgress {
      font-weight: $font-weight-bold;
    }

    &--complete {
      font-weight: $font-weight-bold;
    }
  }

  // Header
  thead {
    background: $blue-50;
    tr {
      border-color: $gray-400;

      .dataTables_scrollHead & {
        border: none;
      }
    }
  }

  th {
    @include subheading-04();
    padding: 1rem 1rem 1rem 1.75rem;

    &:first-child {
      padding-left: 2.5rem;
    }

    &.sorting_disabled {
      cursor: default !important;
      padding-left: 0.75rem;

      &.sorting_asc,
      &.sorting_desc {
        &::before,
        &::after {
          display: none;
        }
      }

      &:first-child {
        padding-left: 1.25rem;
      }
    }

    // sorting
    &.sorting {
      position: relative;
      
      &::before,
      &::after {
        content: '' !important;
        display: block !important;
        top: 50%;
      }
      
      &::before {
        background: url('../../../assets/icons/chevron-down.svg') no-repeat center bottom;
        background-size: 100% auto;
        height: 1.625rem;
        margin-right: 0.5rem;
        left: 0.5rem;
        opacity: 1 !important;
        transform: translateY(-50%);
        transform-origin: center center;
        width: 1.25rem;
      }

      &::after {
        opacity: 0 !important;
        background-color: $black;
        border-radius: 50%;
        height: 0.25rem;
        left: 1.125rem;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0.25rem;
      }

      &:first-child {
        &::before {
          left: 1.125rem;
        }
        &::after {
          left: 1.75rem;
        }
      }

      &_asc,
      &_desc {
        &::after {
          opacity: 1 !important;
        }
      }

      &_desc {
        &::before {
          transform: scaleY(-1) translateY(50%);
        }
      }
    }
  }

  .table--simple & {
    td,
    .cell {
      padding: 0.5rem 0.25rem;

      &:first-child {
        padding-left: 0.75rem;
      }

      &:last-child {
        padding-right: 0.75rem;
      }

      .dashboard-tables & {
        height: 2.75rem;
      }
    }

    thead {
      .dashboard-tables & {
        display: none !important;
      }

      th {
        padding: 1rem 0.5rem 1rem 1.25rem;
    
        &:first-child {
          padding-left: 1.75rem;
        }

        .sorting {
          &::before {
            left: 0;
          }

          &::after {
            left: 0.625rem;
          }

          &:first-child {
            &::before {
              left: 0.625rem;
            }
            &::after {
              left: 1.25rem;
            }
          }
        }
      }
    }
  }

}