.column-bordered-table thead tr th {
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}

.column-bordered-table td {
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}

.column-bordered-table tfoot tr {
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}

.column-bordered-table tbody tr {
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}

input.form-control {
    padding: 0;
    width: 15vw;
}

.input-group {
    max-width: 40vw;
}

select.form-control {
    margin-right: 1vw;
    width: 15vw;
    padding: 0;
}
