<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">View Line-Level Data</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="alert alert-info" *ngIf="loading">Loading...</div>
    <h6 *ngIf="!loading">Patients</h6>
    <table *ngIf="!loading" class="table table-striped  column-bordered-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Sex</th>
            <th>DOB</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody *ngIf="reportPatientsIncludedExcluded?.length">
        <tr *ngFor="let patient of reportPatientsIncludedExcluded">
            <td *ngIf="!patient.excluded">{{patient.name}}</td>
            <td *ngIf="!patient.excluded">{{patient.sex}}</td>
            <td *ngIf="!patient.excluded">{{patient.dateOfBirth | date}}</td>
            <td *ngIf="!patient.excluded">
                <div class="btn-group pull-right">
                    <button (click)="viewPatientData(patient.id)" class="btn btn-primary" type="button">View</button>
                    <button (click)="excludePatient(patient)" class="btn btn-secondary" type="button">Exclude</button>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot *ngIf="!patients?.length">
        <tr>
            <td colspan="4">No patients in this report</td>
        </tr>
        </tfoot>
        <h6 *ngIf="getNoPatientsIncludedInReport()" colspan="4">Total Patients included in
            report: {{getNoPatientsIncludedInReport()}}</h6>
    </table>
    <h6 *ngIf="!loading">Excluded Patients</h6>
    <table *ngIf="!loading" class="table table-striped  column-bordered-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Reason</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody *ngIf="reportPatientsIncludedExcluded?.length">
        <tr *ngFor="let patient of reportPatientsIncludedExcluded">
            <td *ngIf="patient.excluded">{{patient.name}}</td>
            <td *ngIf="patient.excluded">
                <div class="input-group">
                    <div>
                        <select (change)="validate()" [(ngModel)]="patient.coding" [class.is-invalid]="!patient.coding"
                                class="form-control">
                            <option *ngFor="let o of codes" [ngValue]="o.code">{{o.display}}</option>
                            <option value="other">Other, specify</option>
                        </select>
                        <div *ngIf="!patient.coding" class="help-block">This field is required</div>
                    </div>
                    <div>
                        <input (change)="validate()" *ngIf="patient.coding === 'other'" [(ngModel)]="patient.text"
                               [class.is-invalid]="patient.text === ''" class="form-control" type="text"/>
                        <div *ngIf="patient.coding === 'other' && patient.text === ''" class="help-block">This field is
                            required
                        </div>
                    </div>
                </div>
            </td>
            <td *ngIf="patient.excluded">
                <div class="btn-group pull-right">
                    <button (click)="reIncludePatient(patient)" class="btn btn-secondary" type="button">Re-include
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <div [ngbTooltip]="!canSave?'Reason must be specified for all excluded patients.':''">
        <button (click)="save()" *ngIf="anyPatientExcluded()" [disabled]="!canSave || saving" class="btn btn-primary "
                type="button">
            {{excludedButtonText}}
        </button>
    </div>
    <button (click)="activeModal.dismiss()" *ngIf="anyPatientExcluded()" class="btn btn-outline-dark" type="button">
        Cancel
    </button>
    <button (click)="activeModal.dismiss()" *ngIf="!anyPatientExcluded()" class="btn btn-outline-dark" type="button">
        Close
    </button>
</div>
