<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">View Line-Level Data</h4>
    <button (click)="activeModal.dismiss()" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="loading" class="alert alert-info">Loading...</div>
    <h6 *ngIf="!loading">ENCOUNTERS</h6>
    <table *ngIf="!loading" class="table table-striped">
        <thead>
        <tr>
            <th>Reason</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Location(s)</th>
        </tr>
        </thead>
        <tbody *ngIf="patientData.encounters?.length">
        <tr *ngFor="let encounter of patientData.encounters">
            <td>
                <div *ngFor="let rc of encounter.reasonCode">{{rc | codeableConcept}}</div>
            </td>
            <td>{{encounter.period.start | date}}</td>
            <td>{{encounter.period.end   | date}}</td>
            <td>
                <div *ngFor="let location of encounter.location">{{getLocationData(location)}}</div>
            </td>
        </tr>
        </tbody>
    </table>
    <h6 *ngIf="!loading">CONDITIONS</h6>
    <table *ngIf="!loading" class="table table-striped">
        <thead>
        <tr>
            <th>Condition</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>

        <tbody *ngIf="patientData.conditions?.length">
        <tr *ngFor="let condition of patientData.conditions">
            <td>{{condition.code | codeableConcept}}</td>
            <td>{{getOnSet(condition) | date}}</td>
            <td>{{getAbatement(condition) | date}}</td>
        </tr>
        </tbody>
    </table>
    <h6 *ngIf="!loading">Medications Requests (Orders)</h6>
    <table *ngIf="!loading" class="table table-striped">
        <thead>
        <tr>
            <th>Medication</th>
            <th>Dose</th>
            <th>Instructions</th>
            <th>Ordered Date</th>
        </tr>
        </thead>

        <tbody *ngIf="patientData.medicationRequests?.length">
        <tr *ngFor="let medicationRequest of patientData.medicationRequests">
            <td>{{medicationRequest.medicationCodeableConcept | codeableConcept}}</td>
            <td>{{medicationRequest.dosageInstruction[0].doseAndRate[0].doseQuantity | simpleQuantity }}</td>
            <td>{{medicationRequest.dosageInstruction[0].text}}</td>
            <td>{{medicationRequest.authoredOn | date}}</td>
        </tr>
        </tbody>
    </table>
    <h6 *ngIf="!loading">OBSERVATIONS</h6>
    <table *ngIf="!loading" class="table table-striped">
        <thead>
        <tr>
            <th>Observation</th>
            <th>Result</th>
            <th>Date</th>
        </tr>
        </thead>

        <tbody *ngIf="patientData.observations?.length">
        <tr *ngFor="let observation of patientData.observations">
            <td>{{observation.code | codeableConcept}}</td>
            <td [ngSwitch]="getValueType(observation)">
                <div *ngSwitchCase="'valueQuantity'">{{observation['valueQuantity'] | simpleQuantity}}</div>
                <div *ngSwitchCase="'valueCodeableConcept'">{{observation['valueCodeableConcept'] | codeableConcept}}</div>
            </td>
            <td [ngSwitch]="getEffectiveDateTime(observation)">
                <div *ngSwitchCase="'effectiveDateTime'">{{observation['effectiveDateTime'] | date}}</div>
            </td>
        </tr>
        </tbody>
    </table>
    <h6 *ngIf="!loading">PROCEDURES</h6>
    <table *ngIf="!loading" class="table table-striped">
        <thead>
        <tr>
            <th>Procedure</th>
            <th>Date</th>
        </tr>
        </thead>

        <tbody *ngIf="patientData.procedures?.length">
        <tr *ngFor="let procedure of patientData.procedures">
            <td>{{procedure.code | codeableConcept}}</td>
            <td [ngSwitch]="getPerformedDateTime(procedure)">
                <div *ngSwitchCase="'performedDateTime'">{{procedure['performedDateTime'] | date}}</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button (click)="activeModal.dismiss()" class="btn btn-outline-dark" type="button">Close</button>
</div>
