<app-hero
  color="shade"
  pageTitle="System Performance"
/>

<section>
  <div class="container py-4">
    <div class="row">
      
      <div class="col col-12">
        <app-card
          title="Errors"
          [hasPadding]=true
        >
          <div class="mx-2">
            <ngx-charts-line-chart    
              [results]="errorHistory"
              [scheme]="lineChartColorScheme"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              xAxisLabel="Date"
              yAxisLabel="# of Errors/Day"
              [referenceLines]="totalErrorRefs"
              [showRefLines]="true"
              [wrapTicks]="true"
            />
          </div>
        </app-card>
      </div>
      
      <div class="col col-md-6 col-lg-4">
        <app-card
          title="Avg. Report Generation Time"
          [hasPadding]=false
        >
          <ngx-charts-number-card      
            [results]="reportGenerationCurrent"
            [cardColor]="cardColors.background"
            [bandColor]="cardColors.band"
            [textColor]="cardColors.text"
            [innerPadding]="0"
            [valueFormatting]="secondsToTimestamp"
          />
        </app-card>
      </div>

      <div class="col col-md-6 col-lg-8">
        <app-card
          title="Avg. Report Generation Time (30 Day Trend)"
          [hasPadding]=true
        >
          <div class="mx-2">
            <ngx-charts-line-chart
              [results]="reportGenerationHistory"
              [scheme]="lineChartColorScheme"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              xAxisLabel="Date"
              yAxisLabel="Avg. Generation Time/Day"
              [yAxisTickFormatting]="secondsToTimestamp"
              [referenceLines]="reportGenerationRefs"
              [showRefLines]="true"
              [wrapTicks]="true"
            />
          </div>
        </app-card>  
      </div>

      <div class="col col-md-6 col-lg-4">
        <app-card
          title="Active Tenants"
          [hasPadding]=false
        >
          <ngx-charts-number-card      
            [results]="activeTenantCurrent"
            [cardColor]="cardColors.background"
            [bandColor]="cardColors.band"
            [textColor]="cardColors.text"
            [innerPadding]="0"
          />
        </app-card>  
      </div>

      <div class="col col-md-6 col-lg-8">
        <app-card
          title="Active Tenants (30 Day Trend)"
          [hasPadding]=true
        >
          <div class="mx-2">
            <ngx-charts-line-chart
              [results]="activeTenantHistory"
              [scheme]="lineChartColorScheme"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              xAxisLabel="Date"
              yAxisLabel="Active Tenants/Day"
              [referenceLines]="activeTenantHistoryRefs"
              [showRefLines]="true"
              [wrapTicks]="true"
            />
          </div>
        </app-card>
      </div>

    </div>
  </div>
</section>

<ng-template #heroButton>
  <app-button
    variant="outline--reverse"
    type="button"
  >
    <app-icon filePath="../../../assets/icons/measure.svg" />
    Manage System Health
  </app-button>
</ng-template>