<app-hero
  color="shade"
  pageTitle="System Performance"
  [cta]="heroButton"
/>

<section>
  <div class="container py-4">
    <div class="row">
      
      <div class="col col-md-12 col-lg-8">
        <app-card
          title="System Health"
          variant="alt"
          [hasPadding]=true
        >
          <em>Data coming soon ...</em>
        </app-card>
      </div>
      
      <div class="col col-md-6 col-lg-4">
        <app-card
          title="System Speed"
          variant="alt"
          [hasPadding]=true
        >
          <em>Data coming soon ...</em>
        </app-card>
      </div>

      <div class="col col-md-6 col-lg-4">
        <app-card
          title="Uptime"
          variant="alt"
          [hasPadding]=true
        >
          <em>Data coming soon ...</em>
        </app-card>  
      </div>

      <div class="col col-md-6 col-lg-4">
        <app-card
          title="Total Data Load"
          variant="alt"
          [hasPadding]=true
        >
          <em>Data coming soon ...</em>
        </app-card>  
      </div>

      <div class="col col-md-6 col-lg-4">
        <app-card
          title="Connection Status"
          variant="alt"
          [hasPadding]=true
        >
          <em>Data coming soon ...</em>
        </app-card>
      </div>

      <div class="col col-12">
        <app-card
          title="Census Daily Total"
          variant="alt"
          [hasPadding]=true
        >
          <em>Data coming soon ...</em>
        </app-card>
      </div>

    </div>
  </div>
</section>

<ng-template #heroButton>
  <app-button
    variant="outline--reverse"
    type="button"
  >
    <app-icon filePath="../../../assets/icons/measure.svg" />
    Manage System Health
  </app-button>
</ng-template>