<app-hero
  color="shade"
  pageTitle="System Performance"
/>

<app-section>
  <div class="container">
    <div class="row">
      
      <div class="col col-12">
        <app-card
          title="Errors"
          [hasPadding]=true
        >
          <div class="mx-2">
            <ngx-charts-line-chart    
              [results]="errorHistory"
              [scheme]="lineChartColorScheme"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              xAxisLabel="Date"
              yAxisLabel="# of Errors/Day"
              [referenceLines]="totalErrorRefs"
              [showRefLines]="true"
              [wrapTicks]="true"
              [legend]="true"
            />
          </div>
        </app-card>
      </div>
      
      <div class="col col-md-6 col-lg-4">
        <app-card
          title="Avg. Report Generation Time"
          [hasPadding]=false
        >
          <ngx-charts-number-card      
            [results]="reportGenerationCurrent"
            [cardColor]="cardColors.background"
            [bandColor]="cardColors.band"
            [textColor]="cardColors.text"
            [innerPadding]="0"
            [valueFormatting]="secondsToTimestamp.transform"
          />
        </app-card>
      </div>

      <div class="col col-md-6 col-lg-8">
        <app-card
          title="Avg. Report Generation Time (30 Day Trend)"
          [hasPadding]=true
        >
          <div class="mx-2">
            <ngx-charts-line-chart
              [results]="reportGenerationHistory"
              [scheme]="lineChartColorScheme"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              xAxisLabel="Date"
              yAxisLabel="Avg. Generation Time/Day"
              [yAxisTickFormatting]="secondsToTimestamp.transform"
              [referenceLines]="reportGenerationRefs"
              [showRefLines]="true"
              [wrapTicks]="true"
            >  
              <ng-template #tooltipTemplate let-model="model">
                <div class="py-1 px-2">
                  {{ model.series }} &bull; {{ model.name }}<br>
                  <span class="p--large"><strong>{{ model.value | secondsToTimestamp }}</strong></span>
                </div>
              </ng-template>

              <ng-template #seriesTooltipTemplate let-model="model">
                <span>{{ model[0].series }}: {{ model[0].value | secondsToTimestamp }}</span>
              </ng-template>
            </ngx-charts-line-chart>
          </div>
        </app-card>  
      </div>

      <div class="col col-md-6 col-lg-4">
        <app-card
          title="Active Tenants"
          [hasPadding]=false
        >
          <ngx-charts-number-card      
            [results]="activeTenantCurrent"
            [cardColor]="cardColors.background"
            [bandColor]="cardColors.band"
            [textColor]="cardColors.text"
            [innerPadding]="0"
          />
        </app-card>  
      </div>

      <div class="col col-md-6 col-lg-8">
        <app-card
          title="Active Tenants (30 Day Trend)"
          [hasPadding]=true
        >
          <div class="mx-2">
            <ngx-charts-line-chart
              [results]="activeTenantHistory"
              [scheme]="lineChartColorScheme"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              xAxisLabel="Date"
              yAxisLabel="Active Tenants/Day"
              [referenceLines]="activeTenantHistoryRefs"
              [showRefLines]="true"
              [wrapTicks]="true"
            >
              <ng-template #tooltipTemplate let-model="model">
                <div class="py-1 px-2">
                  {{ model.series }} &bull; {{ model.name }}<br>
                  <span class="p--large"><strong>{{ model.value }}</strong></span>
                </div>
              </ng-template>
            </ngx-charts-line-chart>
          </div>
        </app-card>
      </div>

    </div>
  </div>
</app-section>

<ng-template #heroButton>
  <app-button
    variant="outline--reverse"
    type="button"
  >
    <app-icon filePath="../../../assets/icons/measure.svg" />
    Manage System Health
  </app-button>
</ng-template>