<section
	[ngClass]="
		'hero'
		+ (color ? ' hero--bg-' + color : '')
		+ (size ? ' hero--' + size : '')
	"
>
	<div class="container">

		<p class="h4 u-text-offwhite text-uppercase mt-4 mb-0" *ngIf="subHeading && !isTemplateRef(subHeading)">{{ subHeading }}</p>

		<ng-container [ngTemplateOutlet]="subHeading" *ngIf="subHeading && isTemplateRef(subHeading)" />

		<app-section-heading
			*ngIf="pageTitle"
			[headingClasses]="headingClasses"
			[level]=1
			[heading]="pageTitle"
		>
			<div *ngIf="cta" class="pt-4 pt-lg-0 pl-lg-4">
				<ng-container *ngTemplateOutlet="cta" />
			</div>
		</app-section-heading>

		<ng-content />

	</div>
</section>
