<div class="container">

  <div class="jumbotron">
    <h1>Project Flintlock</h1>

    <div class="alert alert-danger" *ngIf="error">{{error}}</div>
    <div class="alert alert-info" *ngIf="message">{{message}}</div>

    <p *ngIf="loading"><ngb-progressbar type="info" [value]="loadingCount" [striped]="true">Loading...</ngb-progressbar></p>

    <button type="button" class="btn btn-primary" [disabled]="loading" (click)="loadData()">Reload Report</button>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-primary" id="downloadAllReportsMenu" ngbDropdownToggle [disabled]="loading">Download All Reports</button>
      <div ngbDropdownMenu aria-labelledby="downloadAllReportsMenu">
        <button ngbDropdownItem (click)="download('json')">JSON</button>
        <button ngbDropdownItem (click)="download('xml')">XML</button>
      </div>
    </div>

    <p *ngIf="!loading">
      Total Public Health Reports: {{data.entry?.length}}
    </p>

    <ngb-tabset *ngIf="!loading">
      <ngb-tab title="Reports" *ngIf="reportTableInfo?.length > 0">
        <ng-template ngbTabContent>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Patient Name</th>
              <th>Condition(s)</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rti of reportTableInfo">
              <td>{{rti.name}}</td>
              <td>
                <ul>
                  <li *ngFor="let c of rti.conditions">{{c}}</li>
                </ul>
              </td>
              <td>
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-primary" id="downloadReportMenu" ngbDropdownToggle [disabled]="loading">Download</button>
                  <div ngbDropdownMenu aria-labelledby="downloadReportMenu">
                    <button ngbDropdownItem (click)="download('json', rti.doc)">JSON</button>
                    <button ngbDropdownItem (click)="download('xml', rti.doc)">XML</button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Heat Map" *ngIf="coordinates?.length > 0">
        <ng-template ngbTabContent>
          <agm-map [latitude]="coordinates[0].latitude" [longitude]="coordinates[0].longitude">
            <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
              <agm-marker *ngFor="let c of coordinates" [longitude]="c.longitude" [latitude]="c.latitude"></agm-marker>
            </agm-marker-cluster>
          </agm-map>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
