/* header.component.scss */

@import '../../../scss/customize-bootstrap.scss',
        '../../../../node_modules/bootstrap/scss/bootstrap.scss';

.header {

  &__subheader {
    background: $blue-400;
  }

  &__logo {
    color: $blue-400;
    font-family: $font-family-heading;
    font-size: 2.25rem;
    letter-spacing: 0.025em;
    line-height: 1.3em;
  }
}
#SecondaryNavigation .header {
  &__btnLogout {
    &::before {
      content: '|';
      color: $black;
      display: inline-block;
      font-family: $font-family-heading;
      font-size: $font-size-base;
      font-weight: $font-weight-medium;
      margin: 0 0.5rem;
    }
    .btn {
      display: inline-block;
    }
  }
}

