/* header.component.scss */

@import '../../../scss/customize-bootstrap.scss',
        '../../../../node_modules/bootstrap/scss/bootstrap.scss';

.header {

  &__subheader {
    background: $blue;
  }

  &__logo {
    img {
      height: auto;
      max-width: 11rem;
      width: 100%;
    }
  }
}
#SecondaryNavigation .header {
  &__btnLogout {
    &::before {
      content: '|';
      color: $black;
      display: inline-block;
      font-family: $font-family-heading;
      font-size: $font-size-base;
      font-weight: $font-weight-medium;
      margin: 0 0.5rem;
    }
    .btn {
      display: inline-block;
    }
  }
}

